In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
orignal_data=pd.read_excel('Original Iris.xlsx')
training_data=pd.read_excel('my_iris.xlsx')

In [ ]:
orignal_data

,Unnamed: 0,sepal length,sepal width,petal length,petal width,target
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.9,3.0,1.4,0.2,Iris-setosa
2,2,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,Iris-virginica
146,146,6.3,2.5,5.0,1.9,Iris-virginica
147,147,6.5,3.0,5.2,2.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,Iris-virginica
149,149,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
orignal_data.drop(orignal_data.columns[0],axis=1, inplace=True)

In [ ]:
orignal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
orignal_data.corr()

              sepal length  sepal width  petal length  petal width
sepal length      1.000000    -0.109369      0.871754     0.817954
sepal width      -0.109369     1.000000     -0.420516    -0.356544
petal length      0.871754    -0.420516      1.000000     0.962757
petal width       0.817954    -0.356544      0.962757     1.000000

In [ ]:
TData_1 = LabelEncoder()
orignal_data['target'] = TData_1.fit_transform(orignal_data['target'])
orignal_data.head()

   sepal length  sepal width  petal length  petal width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [ ]:
test1 = orignal_data.drop(orignal_data.columns[-1], axis=1 )
test2= orignal_data[orignal_data.columns[-1]]
x_training_1, x_test_1, y_training_1, y_test_1 = train_test_split( test1 , test2 , test_size=0.2 , random_state=0)
mod_1 = LogisticRegression(max_iter=2000)

In [ ]:
mod_1.fit(x_training_1, y_training_1)

LogisticRegression(max_iter=2000)

In [ ]:
result=mod_1.score(x_test_1, y_test_1) * 100
print("Correction:)", result)

Correction:) 100.0

In [ ]:
training_data

,Unnamed: 0,sepal depth,sepal diameter,petal depth,petal diameter,sepal length,sepal width,petal length,petal width,target
0,0,NaN,NaN,NaN,NaN,10.2,-7.0,5.6,-0.8,Iris-setosa
1,1,4.9,3.0,1.4,0.2,9.8,-6.0,5.6,-0.8,Iris-setosa
2,2,4.7,3.2,NaN,NaN,9.4,-6.4,5.2,-0.8,Iris-setosa
3,3,4.6,NaN,1.5,NaN,9.2,-6.2,6.0,-0.8,Iris-setosa
4,4,NaN,3.6,NaN,NaN,10.0,-7.2,5.6,-0.8,Iris-setosa
...,...,...,...,...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,13.4,-6.0,20.8,-9.2,Iris-virginica
146,146,6.3,2.5,5.0,1.9,12.6,-5.0,20.0,-7.6,Iris-virginica
147,147,6.5,3.0,5.2,2.0,13.0,-6.0,20.8,-8.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,12.4,-6.8,21.6,-9.2,Iris-virginica
149,149,5.9,3.0,5.1,1.8,11.8,-6.0,20.4,-7.2,Iris-virginica

In [ ]:
training_data.drop(training_data.columns[0], axis=1 ,inplace=True)

In [ ]:
training_data

,sepal depth,sepal diameter,petal depth,petal diameter,sepal length,sepal width,petal length,petal width,target
0,NaN,NaN,NaN,NaN,10.2,-7.0,5.6,-0.8,Iris-setosa
1,4.9,3.0,1.4,0.2,9.8,-6.0,5.6,-0.8,Iris-setosa
2,4.7,3.2,NaN,NaN,9.4,-6.4,5.2,-0.8,Iris-setosa
3,4.6,NaN,1.5,NaN,9.2,-6.2,6.0,-0.8,Iris-setosa
4,NaN,3.6,NaN,NaN,10.0,-7.2,5.6,-0.8,Iris-setosa
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,13.4,-6.0,20.8,-9.2,Iris-virginica
146,6.3,2.5,5.0,1.9,12.6,-5.0,20.0,-7.6,Iris-virginica
147,6.5,3.0,5.2,2.0,13.0,-6.0,20.8,-8.0,Iris-virginica
148,6.2,3.4,5.4,2.3,12.4,-6.8,21.6,-9.2,Iris-virginica
149,5.9,3.0,5.1,1.8,11.8,-6.0,20.4,-7.2,Iris-virginica

In [ ]:
print(training_data['target'].unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [ ]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sepal depth     130 non-null    float64
 1   sepal diameter  130 non-null    float64
 2   petal depth     130 non-null    float64
 3   petal diameter  100 non-null    float64
 4   sepal length    150 non-null    float64
 5   sepal width     150 non-null    float64
 6   petal length    150 non-null    float64
 7   petal width     150 non-null    float64
 8   target          150 non-null    object
dtypes: float64(8), object(1)
memory usage: 10.7+ KB

In [ ]:
training_data.isnull().sum()

sepal depth       20
sepal diameter    20
petal depth       20
petal diameter    50
sepal length       0
sepal width        0
petal length       0
petal width        0
target             0
dtype: int64

In [ ]:
mean_val=training_data.median()
training_data=training_data.fillna(mean_val)
training_data

C:\Users\usmar\AppData\Local\Temp\ipykernel_2524\219449654.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_val=training_data.median()

,sepal depth,sepal diameter,petal depth,petal diameter,sepal length,sepal width,petal length,petal width,target
0,5.85,3.0,4.5,1.5,10.2,-7.0,5.6,-0.8,Iris-setosa
1,4.90,3.0,1.4,0.2,9.8,-6.0,5.6,-0.8,Iris-setosa
2,4.70,3.2,4.5,1.5,9.4,-6.4,5.2,-0.8,Iris-setosa
3,4.60,3.0,1.5,1.5,9.2,-6.2,6.0,-0.8,Iris-setosa
4,5.85,3.6,4.5,1.5,10.0,-7.2,5.6,-0.8,Iris-setosa
...,...,...,...,...,...,...,...,...,...
145,6.70,3.0,5.2,2.3,13.4,-6.0,20.8,-9.2,Iris-virginica
146,6.30,2.5,5.0,1.9,12.6,-5.0,20.0,-7.6,Iris-virginica
147,6.50,3.0,5.2,2.0,13.0,-6.0,20.8,-8.0,Iris-virginica
148,6.20,3.4,5.4,2.3,12.4,-6.8,21.6,-9.2,Iris-virginica
149,5.90,3.0,5.1,1.8,11.8,-6.0,20.4,-7.2,Iris-virginica

In [ ]:
training_data.isnull().sum()

sepal depth       0
sepal diameter    0
petal depth       0
petal diameter    0
sepal length      0
sepal width       0
petal length      0
petal width       0
target            0
dtype: int64

In [ ]:
training_data.head()

,sepal depth,sepal diameter,petal depth,petal diameter,sepal length,sepal width,petal length,petal width,target
0,5.85,3.0,4.5,1.5,10.2,-7.0,5.6,-0.8,Iris-setosa
1,4.90,3.0,1.4,0.2,9.8,-6.0,5.6,-0.8,Iris-setosa
2,4.70,3.2,4.5,1.5,9.4,-6.4,5.2,-0.8,Iris-setosa
3,4.60,3.0,1.5,1.5,9.2,-6.2,6.0,-0.8,Iris-setosa
4,5.85,3.6,4.5,1.5,10.0,-7.2,5.6,-0.8,Iris-setosa

In [ ]:
TData_2 = LabelEncoder()
training_data['target'] = TData_2.fit_transform(training_data['target'])
training_data.head()

,sepal depth,sepal diameter,petal depth,petal diameter,sepal length,sepal width,petal length,petal width,target
0,5.85,3.0,4.5,1.5,10.2,-7.0,5.6,-0.8,0
1,4.90,3.0,1.4,0.2,9.8,-6.0,5.6,-0.8,0
2,4.70,3.2,4.5,1.5,9.4,-6.4,5.2,-0.8,0
3,4.60,3.0,1.5,1.5,9.2,-6.2,6.0,-0.8,0
4,5.85,3.6,4.5,1.5,10.0,-7.2,5.6,-0.8,0

In [ ]:
test1 = training_data.drop(training_data.columns[-1], axis=1 )
test2= training_data[training_data.columns[-1]]

x_training_2, x_test_2, y_training_2, y_test_2 = train_test_split( test1 , test2 , test_size=0.2 , random_state=0)
mod_2 = LogisticRegression(max_iter=2000)

In [ ]:
mod_2.fit(x_training_2, y_training_2)

LogisticRegression(max_iter=2000)

In [ ]:
result=mod_2.score(x_test_2, y_test_2) * 100
print("Correction :) ", result)

Correction :)  100.0